<!DOCTYPE html>
<html lang="en" layout:decorate="~{include/user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
<!-- /* view 화면 html 코드 작성 부분 */ -->
  <div class="page_title mb-4">
    <a href="/sitter/list" class="d-inline-flex align-items-baseline">
      <small class="text-danger">돌보미 게시판 <i class="fa-solid fa-chevron-right fs-xs"></i></small>
    </a>
    <h3 class="memomentKkukkkuk fw-normal mt-2">게시글 작성</h3>
  </div>
  <div class="board_area">
    <form action="/sitter/register" method="post" enctype="multipart/form-data">
      <div class="mb-2">
        <input type="text" name="title" class="form-control" placeholder="제목을 입력해주세요" required>
      </div>
      <div class="mb-2">
        <textarea name="content" id="content" cols="30" rows="10" class="form-control" placeholder="시간과 장소 및 급여를 자세히 알려주세요!(최대 1000자)" required ></textarea>
      </div>
      <div class="mb-3">
        <input type="file" name="files" class="form-control" multiple>
      </div>
      <div class="button_wrap">
        <div class="row g-2">
          <div class="col-6 col-md-auto ms-md-auto">
            <a href="/sitter/list" class="btn btn-lg btn-gray w-100">취소</a>
          </div>
          <div class="col-6 col-md-auto">
            <button class="btn btn-lg btn-main w-100">저장</button>
          </div>
        </div>
      </div>
    </form>
  </div>
<!-- /* //view 화면 html 코드 작성 끝 */ -->
</div>

<script layout:fragment="pagescript" th:inline="javascript">
</script>