:root,
[data-bs-theme=light] {
    --bs-primary: #886f57;
    --bs-primary-rgb: 136,111,87;
    --bs-secondary: #deded6;
    --bs-secondary-rgb: 222,222,214;
    --bs-success: #4bbf73;
    --bs-success-rgb: 75, 191, 115;
    --bs-info: #1f9bcf;
    --bs-info-rgb: 31, 155, 207;
    --bs-warning: #ffa100;
    --bs-warning-rgb: 224, 148, 42;
    --bs-danger: #d9534f;
    --bs-danger-rgb: 217, 83, 79;
    --bs-yellow: #ffcc00;
    --bs-yellow-rgb: 255, 204, 0;
    --bs-gray: #6c757d;
    --bs-gray-rgb: 108, 117, 125;
    --bs-gray-dark: #343a40;
    --bs-gray-dark-rgb: 52, 58, 64;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-link-color: var(--bs-gray-600);
    --bs-link-hover-color: var(--bs-gray-700);

    --bs-emphasis-color: #212121;
    --bs-emphasis-color-rgb: 33, 33, 33;
    --bs-medium-emphasis-color: #838587;
    --bs-medium-emphasis-color-rgb: 131, 133, 135;
    --bs-reverse-emphasis-color: #fff;
    --bs-reverse-medium-emphasis-color: #8F8F8F;
    --bs-reverse-medium-emphasis-color-rgb: 143, 143, 143;
}

* {
    font-family: 'pretendard';
}

html {
    font-size: 16px;
}

body {
    min-width: 320px;
}


/********** Typography **********/
/* font-size */
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.2;
}

.h1, h1 {
    font-size: 1.625rem
}
.h2, h2 {
    font-size: 1.5rem
}
.h3, h3 {
    font-size: 1.375rem
}
.h4, h4 {
    font-size: 1.25rem
}
.h5, h5 {
    font-size: 1.125rem;
}
.h6, h6 {
    font-size: 1rem
}

p, span, a,
table, .table
dl, dt, dd,
ul, ol, li {
    font-size: 1.125rem;
    padding: 0;
    margin: 0;
}

.uppercase {
    text-transform: uppercase !important;
}

.icon-wrap {
    width: 44px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.icon-wrap-sm {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}


/* text-overflow */
.text-overflew-line-1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text-overflew-line-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
